@using WebApplication.Authentication

<!-- Content area -->
<div class="content">

    <!-- Mini table -->
    <div class="card">
       

        <div class="table-responsive">
            <table class="table table-xs">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Actualizar</th>
                        <th>Borrar</th>
                        <th>Roles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ApplicationUser user in Model)
                    {
                        <tr>
                    
                            <td>@user.UserName</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Update" asp-route-id="@user.Id">
                                    Actualizar
                                </a>
                            </td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Borrar
                                    </button>
                                </form>
                            </td>
                             <td>
                                 <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="Manage" asp-route-userId="@user.Id">Editar Roles</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /mini table -->

</div>
<!-- /content area -->
@section Scripts
{



}